<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>资产推介平台</title>
<% for (var css in htmlWebpackPlugin.files.css) { %>
<link href="<%=htmlWebpackPlugin.files.css[css].replace('../statics', '/static') %>" rel="stylesheet">
<% } %>
    <style type="text/css">
      body {
        width: 100%;
        margin: auto;
        background-color: #ecf0f5 !important;
      }
    </style>
</head>
<body>
    <div id="dashboard"></div>
<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script type="text/javascript" src="<%=htmlWebpackPlugin.files.chunks[chunk].entry.replace('../statics', '/static') %>"></script>
<% } %>
</body>
</html>